/**************************************
Styling Fixes for Matches Page 
***************************************/

.pretty_okc .match_card_wrapper .match_card {
  border: 1px solid #dcdfe6;
  box-shadow: none;
  height: 150px;
  overflow: hidden;
}

/* Change display of Match Percentages */
.pretty_okc .match_card_wrapper .match_card_text .percentages {
  color: #f83265;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  left: auto;
  line-height: 18px;
  overflow: hidden;
  right: 5px;
  text-align: right;
  top: -4px;
  width: auto;
  z-index: 100;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .match_card {
  left: 0px;
  top: 0px;
  height: 150px;
  width: 135px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .profile_info {
  top: 0px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .under_card {
  bottom: -25px;
}

/**************************************
Styling Fixes for Profile Page 
***************************************/

/* Removes action button and just displays links for favorites, buy a-list, hide, report. */
body.match_cards.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper,
body.match_cards.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper #trigger_action_options {
  display: none;
}

body.match_cards.pretty_okc .tabbed_heading #actions .action_options {
  height: auto;
  margin-top: 2px;
}

/**************************************
Styling Fixes for Favorites Page 
***************************************/

.pretty_okc #right_bar .add_list {
  margin-top: 20px;
}

.pretty_okc div#right_bar div.body,
.pretty_okc .side_favorites {
  background: #eee;
  padding: 10px;
}

.pretty_okc #right_bar .save_list {
  background: #F7f7f7;
  border: 1px solid #ddd;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin-left: 5px;
  overflow: hidden;
  padding: 0px 3px;
  text-align: center;
  text-transform: none;
  vertical-align: bottom;
  width: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.favorite_list_all,
.favorite_list {
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  padding: 10px;
}

.favorite_list_all.current,
.favorite_list.current {
  background: #dfdfdf;
}

.pretty_okc .hidden_helper {
  display: none;
}

.pretty_okc .droppable_hover {
  background: #dff09f;
}

.pretty_okc .user_row_item {
  padding: 10px;
  width: 390px;
}

.pretty_okc .user_row_item.ui-draggable-dragging {
  background: #efefef;
}

.pretty_okc div.user_row_item p.match_percentages {
  right: 10px;
}