/**************************************
Styling Fixes for Matches Page 
***************************************/

.pretty_okc .match_card_wrapper .match_card {
  border: 1px solid #dcdfe6;
  box-shadow: none;
  height: 150px;
  overflow: hidden;
}

/* Change display of Match Percentages */
.pretty_okc .match_card_wrapper .match_card_text .percentages {
  color: #f83265;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  left: auto;
  line-height: 18px;
  overflow: hidden;
  right: 5px;
  text-align: right;
  top: -4px;
  width: auto;
  z-index: 100;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .match_card {
  left: 0px;
  top: 0px;
  height: 150px;
  width: 135px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .profile_info {
  top: 0px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .under_card {
  bottom: -25px;
}

/**************************************
Styling Fixes for Profile Page 
***************************************/

/* Removes action button and just displays links for favorites, buy a-list, hide, report. */
body.match_cards.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper,
body.match_cards.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper #trigger_action_options {
  display: none;
}

body.match_cards.pretty_okc .tabbed_heading #actions .action_options {
  height: auto;
  margin-top: 2px;
}

/**************************************
Styling Fixes for Favorites Page 
***************************************/

/* Container for Favorite Lists */
.pretty_okc div#right_bar div.body,
.pretty_okc .side_favorites {
  background: #eee;
  padding: 10px;
}

/* Button to Save New List */
.pretty_okc #right_bar .save_list {
  background: #F7f7f7;
  border: 1px solid #ddd;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin-left: 5px;
  overflow: hidden;
  padding: 0px 3px;
  text-align: center;
  text-transform: none;
  vertical-align: bottom;
  width: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.pretty_okc #right_bar .save_list:hover {
  background: #e5e5e5;
}

/* Links for selecting Favorite Lists */
.favorite_list_all,
.favorite_list_none,
.favorite_list {
  background: #F7f7f7;
  border: 1px solid #dfdfdf;
  color: #777;
  margin-bottom: 10px;
  padding: 10px;
  text-shadow: 0px 1px 0px #f6f6f6;
}

.favorite_list_all.current,
.favorite_list_none.current,
.favorite_list.current {
  background: #dfdfdf;
}

.pretty_okc .droppable_hover,
.favorite_list_none:hover,
.favorite_list_all:hover,
.favorite_list:hover {
  background: #e7eef5;
  color: #4173d2;
  cursor: pointer;
}

.pretty_okc .user_row_item.ui-draggable-dragging,
.pretty_okc .user_row_item:hover {
  background: #efefef;
}


.pretty_okc .favorites_action.hidden_helper,
.pretty_okc .hidden_helper {
  display: none;
}

.pretty_okc .user_row_item {
  border-top: none;
  padding: 10px;
  width: 390px;
}

.pretty_okc div.user_row_item p.match_percentages {
  right: 10px;
}

.pretty_okc div.user_row_item div.extra_info {
  left: 210px;
}

.pretty_okc .remove_list {
  background: url('chrome-extension://__MSG_@@extension_id__/images/okc_icons.png') -55px -2px no-repeat;
  float: right;
  display: block;
  float: right;
  height: 26px;
  text-indent: -9999px;
  width: 30px;
}

.pretty_okc .remove_list:hover {
  background-position: -55px -28px;
}

 body.match_cards.pretty_okc .tabbed_heading #actions .action_options p.btn.notes.white,
 body.match_cards.pretty_okc .tabbed_heading #actions .action_options p.btn.favorite.white {
  display: inline-block;
  margin-bottom: 0px;
  width: 30px;
}

.pretty_okc .btn.notes.white a,
.pretty_okc .btn.favorite.white a {
  border: 1px solid #ddd;
  border-right: none;
  display: inline-block;
  height: 26px;
  padding: 0px;
  text-indent: -9999px;
  width: 30px;
}

.pretty_okc .btn.notes.white a {
  background: #F6F6F6 url('chrome-extension://__MSG_@@extension_id__/images/okc_icons.png') -30px   0px no-repeat!important;
}

.pretty_okc .btn.notes.white a.has_note { background-position: -30px -26px!important;}

.pretty_okc .btn.favorite.white a {
  background: #F6F6F6 url(http://akcdn.okccdn.com/media/img/icons/user_actions.png) -31px 0px no-repeat!important;
}

.pretty_okc .btn.favorite.white a.is_favorite      { background-position: -31px -26px!important; }






.pretty_okc div.user_row_item p.last_rated, 
.pretty_okc div.user_row_item p.last_visited {
  display: none;
}


.pretty_okc div.user_row_item div.extra_info p.hidden_actions {
  display: none;
  visibility: hidden;
}

.pretty_okc .favorites_action {
  background: url('chrome-extension://__MSG_@@extension_id__/images/okc_icons.png') no-repeat;
  border: 1px solid #ddd;
  border-right: none;
  cursor: pointer;
  display: block;
  float: left;
  height: 26px;
  text-indent: -9999px;
  width: 30px;
}

.pretty_okc .favorites_action:hover {
  background-color: #FFF;
}

.pretty_okc .action_remove_list         { background-position:   0px -26px; }
.pretty_okc .action_remove_list.removed { background-position:   0px   0px; }
.pretty_okc .action_add_note            { background-position: -30px   0px; }
.pretty_okc .action_add_note.has_note   { background-position: -30px -26px; }

.pretty_okc div.user_row_item div.note .editor textarea {
  min-width: 370px;
  max-width: 370px; 
}