.hidden_helper {
  display: none!important;
}

/**************************************
Styling Fixes for Profile Page 
***************************************/

/* Removes "more options" button and just displays links for favorites, buy a-list, hide, report. */
body#p_profile.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper,
body#p_profile.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper #trigger_action_options {
  display: none;
}

body#p_profile.pretty_okc .tabbed_heading #actions .action_options {
  height: auto;
  margin-top: 2px;
}

/* Change Buttons to be Icons */
body#p_profile.pretty_okc .tabbed_heading #actions .action_options .btn.white a {
  background: transparent!important;
  border: none!important;
}

body#p_profile.pretty_okc .tabbed_heading #actions .action_options .btn.white.report {
  border: 1px solid #ddd!important;
  width: 29px;
}

body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.favorite,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.notes,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.alist,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.report,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.small_white a.hide.grey,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options #hide_btn,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options #unhide_btn
{
  background-color: #F6F6F6!important;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/okc_icons.png')!important;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  border-right: none;
  display: inline-block!important;
  float: left;
  height: 27px!important;
  line-height: 27px!important;
  margin-bottom: 0px;
  padding: 0px;
  position: relative;
  text-indent: -9999px;
  width: 30px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
}

div.tabbed_heading div#actions p.btn a.hide,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options .btn.small_white a {
  border: 1px solid #ddd!important;
  border-right: none!important;
  border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  -webkit-border-radius: 0px!important;
}

body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.favorite:hover,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.notes:hover,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.alist:hover,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.report:hover,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.small_white a.hide.grey:hover,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options #hide_btn:hover,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options #unhide_btn:hover {
  background-color: #FFF!important;
}

.pretty_okc .btn.white.alist          { background-position: -191px -26px!important; }
.pretty_okc .btn.notes.white          { background-position:  -30px   0px!important; }
.pretty_okc .btn.notes.white.has_note { background-position:  -30px -26px!important; }
.pretty_okc #hide_btn                 { background-position:  -90px -26px!important; }
.pretty_okc #unhide_btn               { background-position:  -90px   2px!important; }
.pretty_okc .btn.white.report         { background-position: -160px -25px!important; }

body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.favorite { 
  background: #F6F6F6 url(http://akcdn.okccdn.com/media/img/icons/user_actions.png) -31px 0px no-repeat!important; 
}
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.favorite.is_favorite { 
  background-position: -31px -26px!important;
}

/* Styles Button Area. */
body#p_profile.pretty_okc .tabbed_heading #actions {
  padding-left: 20px;
  padding-right: 15px;
  width: 150px;
}

body#p_profile.pretty_okc .tabbed_heading #actions .message, 
body#p_profile.pretty_okc .tabbed_heading #actions .sign_up_btn {
  width: 150px;
}

body#p_profile.pretty_okc .tabbed_heading #actions .action_options {
  padding: 5px 13px;
  width: 125px;
}

/* Various Fixes */
body#p_profile.pretty_okc .tabbed_heading #actions .action_options .hide {
  float: left;
}

body#p_profile.pretty_okc .tabbed_heading #actions .action_options .flag { border-right: 1px solid #ddd; }

body#p_profile.pretty_okc #upgrade_form {
  display: inline-block;
  float: left;
}

body#p_profile.pretty_okc .tabbed_heading #actions .action_options #hide_btn.unhider,
body#p_profile.pretty_okc .tabbed_heading #actions .action_options #unhide_btn.unhider {
  display: none!important;
}

.pretty_okc .action_options .btn.small_white {
  display: inline-block;
  height: 32px!important;
  margin-bottom: 0px;
  width: 65px!important;
  vertical-align: top;
}

.pretty_okc .btn.white.favorite a,
.pretty_okc .btn.white.alist a,
.pretty_okc .btn.notes.white a,
.pretty_okc .btn.a-list.white a { 
  background: transparent!important;
}

body#p_profile.pretty_okc #message_form {
  cursor: pointer;
}

/* Enhanced Options for Favoriting from the Profile Page. */
body#p_profile.pretty_okc .tabbed_heading #actions .action_options p.btn.white.favorite {
  overflow: visible;
  vertical-align: top;
}

/* Online Indicator */
body#p_profile.pretty_okc #action_bar .image .online_now,
body#p_profile.pretty_okc #online_now {
  background-color: #2855a2;
  border-radius: 0px;
  bottom: 0px;
  font-weight: bold;
  left: 0px;
  margin-left: 0px;
  opacity: .6;
  top: auto;
  width: 100%;
}

body#p_profile.pretty_okc #action_bar .image .online_now {
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  line-height: 12px;
  text-align: center;
}

/* Questions Page */
body#p_profile.pretty_okc div.big_dig > div.header #search_container #question_search_suggestions.show {
  height: 416px;
}

body#p_profile.pretty_okc div.big_dig > div.header #search_container #question_search_suggestions li a, 
body#p_profile.pretty_okc div.big_dig > div.header #search_container #question_search_suggestions li.section span {
  padding: 5px 8px 5px 50px;
}

body#p_profile.pretty_okc div.big_dig > div.header #search_container #question_search_suggestions li.category a {
  background-position: 22px 9px;
}

body#p_profile.pretty_okc div.big_dig > div.header #search_container #question_search_suggestions li.category a:hover, div.big_dig > div.header #search_container #question_search_suggestions li.category a:active {
  background-position: 22px -31px;
}

body#p_profile.pretty_okc div.big_dig > div.header #search_container #question_search_suggestions li.section span {
  padding-top: 5px;
  padding-bottom: 5px;
}

/**************************************
Styling Fixes for Favorites Page 
***************************************/

.pretty_okc .monolith {
  position: relative;
}

/* Container for Favorite Lists */
.pretty_okc div#right_bar div.body,
.pretty_okc .side_favorites {
  background: #eee;
  padding: 10px;
  z-index: 1000;
}

/* Container for Ajax'ed In Favorites */
.pretty_okc .additional_pages div#main_column,
.pretty_okc .additional_pages div#main_column .user_list {
  margin: 0px;
}

/* Button to Save New List */
.pretty_okc #right_bar .save_list {
  background: #F7f7f7;
  border: 1px solid #ddd;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  overflow: hidden;
  padding: 0px 3px;
  text-align: center;
  text-transform: none;
  vertical-align: bottom;
  width: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.pretty_okc #right_bar .save_list:hover {
  background: #e5e5e5;
}

#new_favorite_list {
  margin: 0px;
  width: 206px;
}

/* Links for selecting Favorite Lists */
.favorite_list_all,
.favorite_list_none,
.favorite_list {
  background: #F7f7f7;
  border: 1px solid #dfdfdf;
  color: #777;
  height: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-shadow: 0px 1px 0px #f6f6f6;
}

.favorite_list_all.current,
.favorite_list_none.current,
.favorite_list.current {
  background: #d5e1ed;
  color: #2855a2;
}

.favorite_list_none:hover,
.favorite_list_all:hover,
.favorite_list:hover {
  background: #2855a2;
  border: 1px solid #142d69;
  color: #FFF;
  cursor: pointer;
  text-shadow: none;
}

/* Individual Favorited Users */
.pretty_okc .user_row_item {
  border-top: none;
  padding: 10px;
  width: 390px;
}

.pretty_okc .user_row_item.pagination {
  border-bottom: 0px;
}

.pretty_okc div.user_row_item p.match_percentages {
  right: 10px;
}

.pretty_okc div.user_row_item div.extra_info {
  display: block!important;
  left: 134px;
  top: 60px;
  visibility: visible!important;
}

.pretty_okc div.user_row_item:hover div.extra_info .visited_can_hide,
.pretty_okc div.user_row_item:hover div.extra_info .rated_can_hide {
  visibility: visible;
}

.pretty_okc div.user_row_item div.extra_info p.hidden_actions {
  display: none;
  visibility: hidden;
}

.pretty_okc div.user_row_item p.into_you_over {
  background-color: transparent;
}

.pretty_okc div.user_row_item div.user_interest {
  top: 87px;
}

/* Notes Text Field */
.edit_list_container {
  margin: -6px;
}

.pretty_okc div.user_row_item div.note .editor textarea {
  min-width: 370px;
  max-width: 370px; 
}

/* New Buttons */
.pretty_okc .edit_list,
.pretty_okc .remove_list,
.pretty_okc .update_list {
  background: url('chrome-extension://__MSG_@@extension_id__/images/okc_icons.png') no-repeat;
  display: block;
  float: right;
  height: 29px;
  text-indent: -9999px;
  width: 20px;
}

.pretty_okc .edit_list,
.pretty_okc .favorite_list.current .edit_list:hover,
.pretty_okc .favorite_list.current:hover .edit_list,
.pretty_okc .favorite_list.current:hover .edit_list:hover {
  background-position: -130px -3px;
}

.pretty_okc .remove_list,                          
.pretty_okc .favorite_list.current .remove_list:hover,
.pretty_okc .favorite_list.current:hover .remove_list,
.pretty_okc .favorite_list.current:hover .remove_list:hover { 
  background-position: -65px -5px; 
}

.pretty_okc .update_list,
.pretty_okc .favorite_list.current .update_list:hover,
.pretty_okc .favorite_list.current:hover .update_list,
.pretty_okc .favorite_list.current:hover .update_list:hover {
  background-position: -227px -3px;
  display: inline-block;
  float: none;
  margin-left: 5px;
}

.pretty_okc .favorite_list.current .edit_list   { background-position: -130px -32px; }
.pretty_okc .favorite_list.current .remove_list { background-position:  -65px -31px; }
.pretty_okc .favorite_list.current .update_list { background-position: -227px -31px; }

.pretty_okc #edit_favorite_list { width: 220px; }

.pretty_okc .favorites_action {
  background: url('chrome-extension://__MSG_@@extension_id__/images/okc_icons.png') no-repeat;
  border: 1px solid #ddd;
  border-right: none;
  cursor: pointer;
  display: block;
  float: left;
  height: 26px;
  text-indent: -9999px;
  width: 30px;
}

.pretty_okc .favorites_action:hover {
  background-color: #FFF;
}

.pretty_okc .action_remove_list         { background-position:   0px -26px; }
.pretty_okc .action_remove_list.removed { background-position:   0px   0px; }
.pretty_okc .action_add_note            { background-position: -30px   0px; }
.pretty_okc .action_add_note.has_note   { background-position: -30px -26px; }

/* Enhanced Favorites Options */
.pretty_okc .favorites_list {
  background: #FFF;
  margin-left: 10px;
  position: absolute;
  text-indent: 0px;
  top: 104px;
  width: 230px;
  z-index: 1000;
}

.pretty_okc .favorites_list input {
  margin: 0px 5px 3px 0px;
  vertical-align: bottom;
}

.pretty_okc .favorites_list .title {
  background: #d5e1ed;
  border: 1px solid #d5e1ed;
  border-bottom: 1px solid #b8cadd;
  color: #2855A2;
  cursor: default;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 31px;
  margin: 0px;
  overflow: hidden;
  padding: 0px 8px;
  text-shadow: 0px 1px 0px #fff;
  width: auto;
}

.pretty_okc .favorites_list ul.favorites_hover,
.pretty_okc .favorites_list ul.favorites {
  margin-top: 0px;
}

.pretty_okc .favorites_list ul.favorites_hover li,
.pretty_okc .favorites_list ul.favorites li {
  background: #FFF;
  border: 1px solid #DDD;
  border-top: none;
  padding: 5px;
}

.pretty_okc .favorites_list.favorites_page {
  left: 135px;
}

/* Scroll to Top */
.pretty_okc #back_to_top {
  background: rgba(0,0,0,0.85);
  border-radius: 5px;
  bottom: 16px;
  height: 70px;
  left: 1194px;
  opacity: 1;
  padding-top: 21px;
  position: fixed;
  top: auto;
  visibility: visible;
  width: 70px;
  z-index: 20001;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pretty_okc #back_to_top .icon {
  background: url(http://akcdn.okccdn.com/media/img/icons/back_to_top_arrow_v2.png) 0 0 no-repeat;
  display: block;
  height: 29px;
  left: 50%;
  line-height: 500px;
  margin-bottom: 5px;
  margin-left: -12px;
  overflow: hidden;
  position: relative;
  width: 24px;
}

/* Error Messaging */
.pretty_okc .favorites_lists .oknotice_error.unique {
  border: 1px solid #FF1E72;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin: 10px 0px;
}

/* Sortable Lists */
.pretty_okc .ui-state-highlight {
  background: #eee;
  height: 38px;
}