/***************************************************
Styling Fixes for Matches Search Page - Tiles View
****************************************************/

/* Change Styling for Match Containers */
.pretty_okc .match_card_wrapper {
  height: 150px;
  margin-bottom: 30px;
  width: 135px;
}

.pretty_okc .match_card_wrapper .match_card {
  width: 135px;
}

.pretty_okc .match_card_wrapper .image_wrapper {
  height: 125px;
}

.pretty_okc .match_card_wrapper .match_card_text {
  top: 130px;
}

.pretty_okc .match_card_wrapper .match_card_text .profile_info .userinfo {
  font-size: 12px;
  line-height: 14px;
  padding: 0px 0px 0px 5px;
  text-align: left;
  width: 95px;
}

/* Change Display of Online Status */
.pretty_okc .match_card_wrapper .online_indicator.chat_enabled, 
.pretty_okc a.online_indicator.online {
  background-color: #2855a2;
  border-radius: 0px;
  font-weight: bold;
  left: 0px;
  margin-left: 0px;
  opacity: .6;
  top: 100px;
  width: 135px;
}

/* Hide Reply Frequency and Username */
.pretty_okc .match_card .contact_bar,
.pretty_okc .match_card_wrapper .match_card_text .profile_info .username {
  display: none;
}


/* Move message after having hidden someone's profile */
.pretty_okc .match_card_wrapper.user-hidden .user_hidden_overlay {
  padding-top: 20px;
}


/* Replace all hover resizing / changing borders and other such things. */
.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .image_wrapper {
  height: 130px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .match_card {
  width: 135px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .online_indicator {
  top: 100px;
}

/* Replace all the mouseover overrides */
.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .image_wrapper img {
  top: -10px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden .percentages.hide_on_hover.hidden,
.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .percentages.hide_on_hover {
  display: block!important;
  opacity: 1;
  filter:alpha(opacity=100);
}

/* Fix Rating Section */
.pretty_okc ul#personality-rating {
  top: -5px;
  left: 0px;
  margin-left: 0px;
}

.pretty_okc #personality-rating.match_card_rating {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.pretty_okc #personality-rating.match_card_rating.show {
  opacity: 0;
  visibility: hidden;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .match_card_rating {
  left: 1px;
  top: -127px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .star_rating {
  background-image: none;
  width: 135px;
}

.star_rating {
  background: #FFF url(http://akcdn.okccdn.com/media/img/icons/user_actions.png) no-repeat;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 26px;
  position: absolute;
  right: 0px;
  top: -130px;
  width: 30px;
}

.no_rating      { background-position: -60px  -0px; }
.partial_rating { background-position: -90px -26px; }
.full_rating    { background-position: -60px -26px; }