/**************************************
Styling Fixes for Matches Search Page 
***************************************/

/* Change Styling for Match Containers */
.pretty_okc .match_card_wrapper {
  height: 150px;
  margin-bottom: 30px;
  width: 135px;
}

.pretty_okc .match_card_wrapper .image_wrapper {
  height: 125px;
}

.pretty_okc .match_card_wrapper .match_card {
  border: 1px solid #dcdfe6;
  box-shadow: none;
  height: 150px;
  overflow: hidden;
  width: 135px;
}

.pretty_okc .match_card_wrapper .match_card_text {
  top: 130px;
}

.pretty_okc .match_card_wrapper .match_card_text .profile_info .userinfo {
  font-size: 12px;
  line-height: 14px;
  padding: 0px 5px;
}

/* Hide Reply Frequency and Username */
.pretty_okc .match_card .contact_bar,
.pretty_okc .match_card_wrapper .match_card_text .profile_info .username {
  display: none;
}

/* Change display of Match Percentages */
.pretty_okc .match_card_wrapper .match_card_text .percentages {
  color: #f83265;
  font-size: 28px;
  font-weight: bold;
  height: 25px;
  left: auto;
  overflow: hidden;
  right: 3px;
  text-align: right;
  text-shadow: 2px 2px 0px #000;
  -moz-text-shadow: 2px 2px 0px #000;
  -webkit-text-shadow: 2px 2px 0px #000;
  -moz-text-stroke: 1px #000;
  -webkit-text-stroke: 1px #000;
  top: -125px;
  width: auto;
  z-index: 100;
}

/* Change Display of Online Status */
.pretty_okc .match_card_wrapper .online_indicator.chat_enabled, 
.pretty_okc a.online_indicator.online {
  background-color: #2855a2;
  border-radius: 0px;
  font-weight: bold;
  left: 0px;
  margin-left: 0px;
  opacity: .6;
  top: 100px;
  width: 135px;
}

/* Move message after having hidden someone's profile */
.pretty_okc .match_card_wrapper.user-hidden .user_hidden_overlay {
  padding-top: 20px;
}

/* Replace all hover resizing / changing borders and other such things. */
.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .image_wrapper {
  height: 130px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .image_wrapper img {
  top: -10px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .match_card {
  left: 0px;
  top: 0px;
  height: 150px;
  width: 135px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .profile_info {
  top: 0px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .under_card {
  bottom: -25px;
}

.pretty_okc #match_results.not-scrolling .match_card_wrapper.user-not-hidden:hover .online_indicator {
  top: 100px;
}


/**************************************
Styling Fixes for Profile Page 
***************************************/

/* Removes action button and just displays links for favorites, buy a-list, hide, report. */
body.match_cards.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper,
body.match_cards.pretty_okc .tabbed_heading #actions .trigger_action_options_wrapper #trigger_action_options {
  display: none;
}

body.match_cards.pretty_okc .tabbed_heading #actions .action_options {
  height: auto;
  margin-top: 2px;
}